@using Microsoft.AspNetCore.Identity
@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager
@{
    var usuario = await UserManager.GetUserAsync(User);
    var rota = ViewContext.RouteData.Values["action"] as string;
    var rotaController = ViewContext.RouteData.Values["controller"] as string;
}

@if (SignInManager.IsSignedIn(User))
{
    <a asp-action="Postagens" asp-controller="Feed" asp-route-id=""><img src="~/img/logo-small.png" class="logo" alt=""></a>
    <div class="nav-right header--btn-group is-vertical-align">
        <div class="profile is-center">
            <img src="@usuario.FotoPerfil" class="logo-user dropdown-toggle" alt="Imagem de usuário" />
            <div id="backdrop" class="dropdown-toggle"></div>
            <div class="text-center dropdown dropdown-load drifto" id="logged-in">
                <img src="https://icongr.am/material/close.svg?size=30&color=ffffff" class="icon-button is-left dropdown-toggle" />
                <ul>
                    <li class="img-perfil">
                        <a class="link-escondido" asp-action="PerfilUsuario" asp-controller="Feed" asp-route-id="@usuario.Id"><img src="@usuario.FotoPerfil" class="logo-user dropdown-toggle" alt="Foto de perfil"></a>
                    </li>
                    <li class="nome-perfil">
                        <h5 class="text-light"><a asp-action="PerfilUsuario" asp-controller="Feed" asp-route-id="@usuario.Id" class="text-light link-escondido">@usuario.UserName</a></h5>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-light" asp-action="PerfilUsuario" asp-controller="Feed" asp-route-id="@usuario.Id">
                            <img src="https://icongr.am/material/account.svg?size=30&color=ffffff"/>
                            Perfil
                        </a>
                    </li>
                    <li>
                        <a class="text-light" asp-action="UpdateProfile" asp-controller="ConfigurationUser">
                            <img src="https://icongr.am/material/account-cog.svg?size=30&color=ffffff"/>
                            Configurações
                        </a>
                    </li>
                    <li>
                        <a class="text-light" asp-action="Postagens" asp-controller="Feed" asp-route-id="">
                            <img src="https://icongr.am/material/chat.svg?size=30&color=ffffff"/>
                            Comunidades
                        </a>
                    </li>
                    <li>
                        <a class="text-light" asp-action="MeusAstros" asp-controller="Feed" asp-route-id="">
                            <img src="https://icongr.am/material/earth.svg?size=30&color=ffffff"/>
                            Meus astros
                        </a>
                    </li>
                    @if(usuario.isAdmin) 
                    {
                        <li>
                            <a class="text-light" asp-action="Index" asp-controller="Administrativo">
                                <img src="https://icongr.am/material/account-cog.svg?size=30&color=ffffff"/>
                                Administrativo
                            </a>
                        </li>
                    }
                    <li>
                        <a class="text-light" asp-action="Logout" asp-controller="SignIn">
                            <img src="https://icongr.am/entypo/log-out.svg?size=30&color=ffffff"/>
                            Sair
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <img class="dropdown-toggle header--down" src="~/icons/menu-down.svg"/>
    </div>
}
else
{
    <a asp-action="Index" asp-controller="Home"><img src="~/img/logo-small.png" class="logo" alt=""></a>
    <div class="nav-right header--btn-group">
    @if (rota is "Index" && rotaController is "SignIn")
    {
        <a class="text-light" id="modalbtn" href="#contact">Entrar</a>
        @* <a class="text-light" asp-action="Index" asp-controller="SignIn">Criar conta</a> *@
    }
    else if (rota is "LogInView")
    {
        <a class="text-light" asp-action="Index" asp-controller="SignIn">Criar conta</a>
    } 
    else
    {
        <a class="text-light" id="modalbtn" href="#contact">Entrar</a>
        <a class="text-light" asp-action="Index" asp-controller="SignIn">Criar conta</a>
    }
    </div>
}
