@{
    Layout = "Index";
    ViewData["Title"] = "Editar e-mail";
}
@model UsuarioDTO

@if(ViewBag.Sucesso is null)
{
    <form class="cad-content text-light" method="post" asp-action="UpdateEmail" asp-controller="ConfigurationUser">
        <div class="container container-cad">
            <div asp-validation-summary="ModelOnly" class="text-error"></div>

            <div class="row">
                <label class="col" asp-for="Email">
                    @Html.DisplayNameFor(m => m.Email)
                    <input class="inputbox-cad" asp-for="Email" readonly>
                </label>
            </div>

            <div class="row">
                <label class="col" asp-for="Email">
                    @Html.DisplayNameFor(m => m.NovoEmail)
                    <input class="inputbox-cad" asp-for="NovoEmail">
                </label>
            </div>

            <div class="row">
                <label class="col" asp-for="SenhaAtual">
                    <div class="password-box-cad">
                        @Html.DisplayNameFor(m => m.SenhaAtual)
                    </div>
                    <div class="row inputbox-password">
                        <input id="inputbox-pass1" class="col-11 inputbox-password-cad" asp-for="SenhaAtual" required>
                        <div onclick="showPassword(event)" class="col btn-show-password-cad is-vertical-align is-horizontal-align">
                            <img id="show-password1" src="https://icongr.am/clarity/eye.svg?size=128&color=d2d6dd"></img>
                        </div>
                    </div>
                </label>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit" class="col submit-btn-cad button is-vertical-align is-horizontal-align">Salvar</button>
                </div>
            </div>
        </div>
    </form>
}

@if(ViewBag.Error is null && ViewBag.Sucesso is not null)
{
    <div class="cad-content text-light">
        <div class="container container-cad">
            <div class="row">
                <h2 class="col is-vertical-align is-horizontal-align">E-mail enviado com sucesso</h2>
                <div>
                    <p class="text-center">
                        Verifique o seu novo e-mail para poder definí-lo como e-mail atual. Caso não tenha recebido o e-mail, clique <a asp-action="ResendEmail" asp-route-email="@Model.NovoEmail">aqui</a>  para reenviá-lo.
                    </p>
                </div>
            </div>
        </div>
    </div>
}

@if(ViewBag.Error is not null)
{
    <div class="cad-content text-light">
        <div class="container container-cad">
            <div class="row">
                <h2 class="col is-vertical-align is-horizontal-align">Erro ao enviar E-mail</h2>
                <div>
                    <p class="text-center">
                        @ViewBag.Error Clique <a asp-action="ResendEmail" asp-route-email="@Model.NovoEmail">aqui </a> para reenviá-lo.
                    </p>
                </div>
            </div>
        </div>
    </div>
}


<script src="~/js/configuracoes-tab.js" asp-append-version="true"></script>
<script>mostrarAba(3)</script>
