@model UsuarioDTO
@{
    ViewData["Title"] = "Sign In";
}

@section stylesheet {
<style>
    body {
        background-image: url(../img/signin-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
}

<div class="container is-vertical-align is-horizontal-align">
    <form class="cad-content text-light" asp-action="Index" method="post">
        <div class="container logo-box-cad row is-vertical-align is-horizontal-align">
            <img class="img-logo-cad col" src="../img/logo-bgless.png" alt="majorlogo" class="maxlogo">
            <h2 class="col logo-text-cad is-vertical-align is-horizontal-align">Cadastrar</h2>
        </div>

        <div class="container">
            <div asp-validation-summary="ModelOnly" class="text-error"></div>
            
            <div class="row">
                <label class="col" asp-for="Nome">
                    @Html.DisplayNameFor(m => m.Nome)
                    <input class="inputbox-cad" asp-for="Nome" required>
                </label>
            </div>

            <small><span asp-validation-for="Email" class="text-error"></span></small>
            <div class="row">
                <label class="col" asp-for="Email">
                    @Html.DisplayNameFor(m => m.Email)
                    <input class="inputbox-cad" asp-for="Email" required>
                </label>
            </div>

            <small><span asp-validation-for="DataNascimento" class="text-error"></span></small>
            <div class="row">
                <label class="col" asp-for="DataNascimento">
                    @Html.DisplayNameFor(m => m.DataNascimento)
                    <input class="inputbox-cad" asp-for="DataNascimento" required>
                </label>
            </div>

            <small><span asp-validation-for="Senha" class="text-error"></span></small>
            <div class="row">
                <label class="col" asp-for="Senha">
                    <div class="password-box-cad">
                        @Html.DisplayNameFor(m => m.Senha)
                    </div>
                    <input class="inputbox-cad" asp-for="Senha" required>
                </label>
            </div>

            <small><span asp-validation-for="Senha" class="text-error"></span></small>
            <div class="row">
                <label class="col" asp-for="Senha">
                    <div class="password-box-cad">
                        @* @Html.DisplayNameFor(m => m.Senha) *@
                        Confirmar Senha
                    </div>
                    <input class="inputbox-cad" asp-for="Senha" required>
                </label>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit" class="col submit-btn-cad button is-vertical-align is-horizontal-align">Juntar-se!</button>
                </div>
            </div>
        </div>
    </form>
</div>
