@model Postagem
@{
    Layout = "";
    Usuario user = ViewBag.Usuario;
}

<div id="modalblock" class="commentmodal is-vertical-align is-horizontal-align">
    <div class="commentmodal-content commentgrid animatein text-light col-7">
        <div class="commentmodal-header">
            <p>Postagem de @Model.Usuario.UserName</p>
            <img class="close-comment-btn" src="/img/close-icon.svg" alt="Close Icon">
        </div>
        <div class="post-content commentmodal-post">
            <div class="between-config">
                <div class="post-header-info is-left">

                    <img class="usr-post-pic" src="@Model.Usuario.FotoPerfil" />
                    <div class="info-col">
                        <p class="usr-post-name">@Model.Usuario.UserName</p>
                        <p class="usr-post-date">@Model.DataPostagem.ToString("dd/MM/yyyy")</p>
                    </div>

                </div>
                @if (Model.Usuario.Id != user.Id)
                {
                    <div class="commentmodal-reportbtn report-btn is-vertical-align is-right" data-id="@Model.Id" data-tipo="Postagem">
                        <img src="https://icongr.am/clarity/flag.svg?size=128&color=ffffff" />
                    </div>
                }
            </div>
            <p class="commentmodal-selftext">
                @Model.Texto 
            </p>
            @if(Model.Imagem is not null)
            {
                <div class="post-img commentmodal-img"><img src="@Model.Imagem" /></div>
            }
            <div class="between-config commentmodal-selfbottom">
                <div class="usr-footer-comment is-vertical-align is-left">
                    <img class="post-footer-icon expand-comment-btn" src="https://icongr.am/fontawesome/comment-o.svg?size=128&color=ffffff" />
                </div>
                <div class="usr-footer-likes commentmodal-usrlikes is-vertical-align is-right">
                    @if (user.Likes?.Find(el => el.Postagem?.Id == Model.Id) is not null) 
                    {
                        <img class="post-footer-icon btn-dislike" data-id="@Model.Id" data-url="/Feed/RemoverLikePostagem" data-tipo="Postagem" src="/icons/heart-fill.svg" />
                    }
                    else
                    {
                        <img class="post-footer-icon btn-like" data-id="@Model.Id" data-url="/Feed/AdicionarLikePostagem" data-tipo="Postagem" src="/icons/heart.svg" />
                    }
                    <small class="text-light likes">@Model.Likes?.Count</small>
                </div>
            </div>
        </div>

        <div class="commentmodal-holder">
        @if (Model.Comentarios?.Count > 0)
        {
            @foreach (var comment in Model.Comentarios)
            {
            <div class="post-content commentmodal-comment">
                <div class="between-config">
                    <div class="post-header-info is-left">

                        <img class="usr-post-pic commentmodal-usrpic" src="@comment.Usuario.FotoPerfil" />
                        <div class="info-col">
                            <p class="commentmodal-usrname usr-post-name">@comment.Usuario.UserName</p>
                            <p class="commentmodal-usrdate usr-post-date">@comment.DataComentario.ToString("dd/MM/yyyy")</p>
                        </div>
                    </div>
                    @if (comment.Usuario.Id != user.Id)
                    {
                        <div class="commentmodal-reportbtn report-btn is-vertical-align is-right" data-id="@comment.Id" data-tipo="Comentario">
                            <img src="https://icongr.am/clarity/flag.svg?size=128&color=ffffff" />
                        </div>
                    }
                    else if (Model.Usuario.Id == user.Id || user.isAdmin)
                    {
                        <img src="~/icons/trash.svg" class="dropdown-acoes excluir-comentario acoes-btn" data-id="@comment.Id"/>
                    }
                </div>
                <p class="commentmodal-text">
                    @comment.Texto
                </p>
                @* class = between-config *@
                <div class="commentmodal-bottom">
                    @* <div class="usr-footer-comment is-vertical-align is-left">
                        <img class="post-footer-icon comment-btn" src="https://icongr.am/fontawesome/comment-o.svg?size=128&color=ffffff" />
                    </div> *@
                    <div class="usr-footer-likes is-vertical-align is-right">
                         @if (user.Likes?.Find(el => el.Comentario?.Id == comment.Id) is not null) 
                        {
                            <img class="post-footer-icon btn-dislike"  data-id="@comment.Id" data-url="/Feed/RemoverLikeComentario" data-tipo="Comentario" src="/icons/heart-fill.svg" />
                        }
                        else
                        {
                            <img class="post-footer-icon btn-like"  data-id="@comment.Id" data-url="/Feed/AdicionarLikeComentario" data-tipo="Comentario" src="/icons/heart.svg" />
                        }
                        <small class="text-light likes">@(comment.Likes is null ? 0 : comment.Likes.Count)</small>
                    </div>
                </div>
            </div>
            }
        } 
        else
        {
            <div class="text-center">
                <p class="text-light out-comments">Não há comentários nessa postagem... ainda. Seja o(a) primeiro(a)!</p>
            </div>
        }


        </div>
    </div>
</div>

@* Área de inserção de comentário (Template) *@
<div class="comment-input-box comment-input-box-hidden hide ">
    <div class="comment-input-content">
        <form asp-action="SaveComment" id="commentform">  
            <textarea class="is-full-width comment-input" name="Texto" form="commentform" cols="100%" rows="auto" placeholder="Comente Aqui" maxlength="280"></textarea>
            <div class="is-right">
                <button type="submit" class="submit-comment-btn submit-post-btn button outline is-vertical-align">Comentar</button>
            </div>
            <input type="hidden" value="@Model.Id" name="PostId">
        </form>
    </div>
</div>
