@model UsuarioDTO

<div id="modalblock" class="commentmodal container is-vertical-align is-horizontal-align">
    <div class="commentmodal-content commentgrid animatein text-light col-7">
        <div class="post-content commentmodal-post">
            <div class="between-config">
                <div class="post-header-info is-left">

                    @* <img class="usr-post-pic" src="@Model.UsuarioDTO.FotoPerfil" /> *@
                    @* <div class="info-col">
                        <p class="usr-post-name">@Model.UsuarioDTO.Nome</p>
                        <p class="usr-post-date">@Model.DataPostagem.ToString("dd/MM/yyyy")</p>
                    </div> *@
                    <img class="usr-post-pic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlNyI5Bbsl1vq1BQjH9XA-Z4j0Kkk0cEpAnA&usqp=CAU" />
                    <div class="info-col">
                        <p class="usr-post-name">Pedrinho</p>
                        <p class="usr-post-date">dd/MM/yyyy</p>
                    </div>

                </div>
                <div class="report-btn is-vertical-align is-right">
                    <img src="https://icongr.am/clarity/flag.svg?size=128&color=ffffff" />
                </div>
            </div>
            <p class="commentmodal-selftext">
                @* @Model.Texto *@
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa voluptatum culpa, laboriosam minima, maiores cumque necessitatibus illo neque aliquid tempora, dicta ipsum rem quae veniam assumenda voluptates. Ipsa, ea corrupti!                 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa voluptatum culpa, laboriosam minima, maiores cumque necessitatibus illo neque aliquid tempora, dicta ipsum rem quae veniam assumenda voluptates. Ipsa, ea corrupti!
            </p>
            <div class="post-img commentmodal-img"><img src="https://www.petz.com.br/blog/wp-content/uploads/2020/08/cat-sitter-felino-1280x720.jpg" /></div>
            <div class="between-config commentmodal-selfbottom">
                @* <div class="usr-footer-comment is-vertical-align is-left">
                    <img class="post-footer-icon expand-comment-btn" src="https://icongr.am/fontawesome/comment-o.svg?size=128&color=ffffff" />
                </div> *@
                <div class="usr-footer-likes commentmodal-usrlikes is-vertical-align is-right">
                    <img class="post-footer-icon" src="https://icongr.am/clarity/heart.svg?size=128&color=ffffff" />
                </div>
            </div>
        </div>

        <div class="commentmodal-holder">
            <div class="post-content commentmodal-comment">
                <div class="between-config">
                    <div class="post-header-info is-left">

                        @* <img class="usr-post-pic" src="@Model.UsuarioDTO.FotoPerfil" /> *@
                        @* <div class="info-col">
                            <p class="usr-post-name">@Model.UsuarioDTO.Nome</p>
                            <p class="usr-post-date">@Model.DataPostagem.ToString("dd/MM/yyyy")</p>
                        </div> *@
                        <img class="usr-post-pic commentmodal-usrpic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlNyI5Bbsl1vq1BQjH9XA-Z4j0Kkk0cEpAnA&usqp=CAU" />
                        <div class="info-col">
                            <p class="commentmodal-usrname usr-post-name">Pedrinho</p>
                            <p class="commentmodal-usrdate usr-post-date">dd/MM/yyyy</p>
                        </div>

                    </div>
                    <div class="commentmodal-reportbtn report-btn is-vertical-align is-right">
                        <img src="https://icongr.am/clarity/flag.svg?size=128&color=ffffff" />
                    </div>
                </div>
                <p class="commentmodal-text">
                    @* @Model.Texto *@
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa voluptatum culpa, laboriosam minima, maiores cumque necessitatibus illo neque aliquid tempora, dicta ipsum rem quae veniam assumenda voluptates. Ipsa, ea corrupti!                 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa voluptatum culpa, laboriosam minima, maiores cumque necessitatibus illo neque aliquid tempora, dicta ipsum rem quae veniam assumenda voluptates. Ipsa, ea corrupti!
                </p>
                @* class = between-config *@
                <div class="commentmodal-bottom">
                    @* <div class="usr-footer-comment is-vertical-align is-left">
                        <img class="post-footer-icon comment-btn" src="https://icongr.am/fontawesome/comment-o.svg?size=128&color=ffffff" />
                    </div> *@
                    <div class="usr-footer-likes is-vertical-align is-right">
                        <img class="post-footer-icon" src="https://icongr.am/clarity/heart.svg?size=128&color=ffffff" />
                    </div>
                </div>
            </div>

            <div class="post-content commentmodal-comment">
                <div class="between-config">
                    <div class="post-header-info is-left">

                        @* <img class="usr-post-pic" src="@Model.UsuarioDTO.FotoPerfil" /> *@
                        @* <div class="info-col">
                            <p class="usr-post-name">@Model.UsuarioDTO.Nome</p>
                            <p class="usr-post-date">@Model.DataPostagem.ToString("dd/MM/yyyy")</p>
                        </div> *@
                        <img class="usr-post-pic commentmodal-usrpic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlNyI5Bbsl1vq1BQjH9XA-Z4j0Kkk0cEpAnA&usqp=CAU" />
                        <div class="info-col">
                            <p class="commentmodal-usrname usr-post-name">Pedrinho</p>
                            <p class="commentmodal-usrdate usr-post-date">dd/MM/yyyy</p>
                        </div>

                    </div>
                    <div class="commentmodal-reportbtn report-btn is-vertical-align is-right">
                        <img src="https://icongr.am/clarity/flag.svg?size=128&color=ffffff" />
                    </div>
                </div>
                <p class="commentmodal-text">
                    @* @Model.Texto *@
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa voluptatum culpa, laboriosam minima, maiores cumque necessitatibus illo neque aliquid tempora, dicta ipsum rem quae veniam assumenda voluptates. Ipsa, ea corrupti!                 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa voluptatum culpa, laboriosam minima, maiores cumque necessitatibus illo neque aliquid tempora, dicta ipsum rem quae veniam assumenda voluptates. Ipsa, ea corrupti!
                </p>
                @* class = between-config *@
                <div class="commentmodal-bottom">
                    @* <div class="usr-footer-comment is-vertical-align is-left">
                        <img class="post-footer-icon comment-btn" src="https://icongr.am/fontawesome/comment-o.svg?size=128&color=ffffff" />
                    </div> *@
                    <div class="usr-footer-likes is-vertical-align is-right">
                        <img class="post-footer-icon" src="https://icongr.am/clarity/heart.svg?size=128&color=ffffff" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>