@model Astro
@using Microsoft.AspNetCore.Identity
@inject UserManager<Usuario> UserManager
@{
    Layout = "_LayoutFeed";
    ViewData["Title"] = $"Perfil {@Model.Nome}";
    var usuario = await UserManager.GetUserAsync(User);
}

<link rel="stylesheet" href="~/css/PerfilAstro.css" asp-append-version="true">

<div class="container-perfil">
    <div class="is-full-width banner-container">
        <img class="img" src="@Model.Foto" alt="">
    </div>

    <div class="is-vertical-align elements-container">
        <div class="responsive is-vertical-align">
            <div class="picture-container bd-light">
                <img class="img" src="@Model.Foto" alt="">
            </div>
            <h2 class="text-light astro-title">@Model.Nome</h2>
        </div>
        @if (usuario.Astros?.Find(astro => astro.Id == Model.Id) is not null) 
        {
            <a class="join-btn text-light bd-light" asp-action="EntrarForum" asp-route-id="@Model.Id">Sair do fórum</a>
        }
        else
        {
            <a class="join-btn text-light bd-light" asp-action="EntrarForum" asp-route-id="@Model.Id">Juntar ao fórum</a>
        }
    </div>

    <nav class="tabs">
        <button class="button-nav text-light active" id="tab1">Curiosidades</button>
        <button class="button-nav tab1 text-light" id="tab2">Aba 2</button>
        <button class="button-nav tab2 text-light" id="tab3">Aba 3</button>
        <button class="button-nav tab3 text-light" id="tab4">Aba 4</button>
    </nav>

    <div class="tab-content tab-content-active text-left text-light">
        @Html.Raw(Model.Curiosidades)
    </div>

    <div class="tab-content text-left text-light">
        <h4>Aba 2</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, placeat! Nisi est ipsam incidunt, blanditiis quod, et aut, delectus dolorem nulla ullam dolores aliquid totam iste vitae eligendi fuga officia! lorefxLayout="row wrap"</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, placeat! Nisi est ipsam incidunt, blanditiis quod, et aut, delectus dolorem nulla ullam dolores aliquid totam iste vitae eligendi fuga officia! lorefxLayout="row wrap"</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, placeat! Nisi est ipsam incidunt, blanditiis quod, et aut, delectus dolorem nulla ullam dolores aliquid totam iste vitae eligendi fuga officia! lorefxLayout="row wrap"</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, placeat! Nisi est ipsam incidunt, blanditiis quod, et aut, delectus dolorem nulla ullam dolores aliquid totam iste vitae eligendi fuga officia! lorefxLayout="row wrap"</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, placeat! Nisi est ipsam incidunt, blanditiis quod, et aut, delectus dolorem nulla ullam dolores aliquid totam iste vitae eligendi fuga officia! lorefxLayout="row wrap"</p>
    </div>

    <div class="tab-content text-left text-light">
        <h4>Aba 3</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, placeat! Nisi est ipsam incidunt, blanditiis quod, et aut, delectus dolorem nulla ullam dolores aliquid totam iste vitae eligendi fuga officia! lorefxLayout="row wrap"</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, placeat! Nisi est ipsam incidunt, blanditiis quod, et aut, delectus dolorem nulla ullam dolores aliquid totam iste vitae eligendi fuga officia! lorefxLayout="row wrap"</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, placeat! Nisi est ipsam incidunt, blanditiis quod, et aut, delectus dolorem nulla ullam dolores aliquid totam iste vitae eligendi fuga officia! lorefxLayout="row wrap"</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, placeat! Nisi est ipsam incidunt, blanditiis quod, et aut, delectus dolorem nulla ullam dolores aliquid totam iste vitae eligendi fuga officia! lorefxLayout="row wrap"</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, placeat! Nisi est ipsam incidunt, blanditiis quod, et aut, delectus dolorem nulla ullam dolores aliquid totam iste vitae eligendi fuga officia! lorefxLayout="row wrap"</p>
    </div>

    <div class="tab-content text-left text-light">
        <h4>Aba 4</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, placeat! Nisi est ipsam incidunt, blanditiis quod, et aut, delectus dolorem nulla ullam dolores aliquid totam iste vitae eligendi fuga officia! lorefxLayout="row wrap"</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, placeat! Nisi est ipsam incidunt, blanditiis quod, et aut, delectus dolorem nulla ullam dolores aliquid totam iste vitae eligendi fuga officia! lorefxLayout="row wrap"</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, placeat! Nisi est ipsam incidunt, blanditiis quod, et aut, delectus dolorem nulla ullam dolores aliquid totam iste vitae eligendi fuga officia! lorefxLayout="row wrap"</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, placeat! Nisi est ipsam incidunt, blanditiis quod, et aut, delectus dolorem nulla ullam dolores aliquid totam iste vitae eligendi fuga officia! lorefxLayout="row wrap"</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, placeat! Nisi est ipsam incidunt, blanditiis quod, et aut, delectus dolorem nulla ullam dolores aliquid totam iste vitae eligendi fuga officia! lorefxLayout="row wrap"</p>
    </div>
</div>

<script src="~/js/openTabs.js" asp-append-version="true"></script>
