@using Microsoft.AspNetCore.Identity;
@inject UserManager<Usuario> UserManager;
@model List<Postagem>
@{
    Layout = "_LayoutFeed";
}

@{
    var id = ViewContext.RouteData.Values["id"];
    var user = await UserManager.GetUserAsync(User);
}

<link rel="stylesheet" href="~/css/postagem.css">
<link rel="stylesheet" href="~/lib/notiflix/dist/notiflix-3.2.5.min.css"/>


<div id="post-holder" class="container is-full-screen">
    @if(id != null)
    {
        <p id="post-holder-text">Crie sua postagem</p>
        <div id="post-input-box" class="is-vertical-align is-horizontal-align">
            <div class="post-input-content">
                <form id="postform" method="post">
                    <div asp-validation-summary="All" class="text-error"></div>
                    <textarea class="is-full-width" name="posttext" form="postform" cols="100%" rows="auto" placeholder="Escreva aqui" maxlength="280"></textarea>
                    <div id="post-img-preview"></div>
                    <div class="between-config">
                        <div class="post-input-imgcon is-vertical-align is-left">
                            <label for="img-up">
                                <img class="post-footer-icon" src="https://icongr.am/clarity/image.svg?size=128&color=ffffff" />
                            </label>
                            <input id="img-up" class="is-hidden" type="file" accept="image/png, image/gif, image/jpeg">
                        </div>
                        <button type="submit" class="submit-post-btn button outline is-vertical-align is-right">Enviar</button>
                    </div>
                    <input type="hidden" value="@id" name="AstroId">
                    <input type="hidden" value="@user.UserName">
                    <input type="hidden" value="@user.FotoPerfil">
                </form>
            </div>
        </div>

        <script src="~/js/textarea-post.js"></script>
        <script src="~/js/post-img-insert.js"></script>
        <script src="~/js/submit-post.js"></script>
    }
    <div id="posts">
        @foreach (var postagem in Model)
        {
            @* Template Postagem Usuário *@
            <div id="usr-all-post" class="post-box" class="is-vertical-align is-horizontal-align">
                <div class="post-content">
                    <div class="between-config">
                        <div class="post-header-info is-left">

                            <img class="usr-post-pic" src="@postagem.Usuario.FotoPerfil" />
                            <div class="info-col">
                                <p class="usr-post-name">@postagem.Usuario.UserName</p>
                                <p class="usr-post-date">@postagem.DataPostagem.ToString("dd/MM/yyyy HH:mm")</p>
                            </div>

                        </div>
                        <div class="report-btn is-vertical-align is-right">
                            <img src="https://icongr.am/clarity/flag.svg?size=128&color=ffffff" />
                        </div>
                    </div>
                    <p class="post-text">
                        @postagem.Texto
                    </p>
                    <div class="post-img"><img src="@postagem.Imagem" /></div>
                    <div class="between-config">
                        <div class="usr-footer-comment is-vertical-align is-left">
                            <img class="post-footer-icon" src="https://icongr.am/fontawesome/comment-o.svg?size=128&color=ffffff" />
                        </div>
                        <div class="usr-footer-likes is-vertical-align is-right">
                            <img class="post-footer-icon" src="https://icongr.am/clarity/heart.svg?size=128&color=ffffff" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@section scripts 
{
    <script src="~/lib/notiflix/dist/notiflix-3.2.5.min.js"></script>
}